
/FileCabinet/SuiteApps/com.catalysttechcorp.varconnectsendpo/Library/.attributes
FileCabinet/SuiteApps/com.catalysttechcorp.varconnectsendpo/.DS_Store
/FileCabinet/SuiteApps/com.catalysttechcorp.varconnectsendpo/Vendor Scripts/.attributes
/FileCabinet/SuiteApps/com.catalysttechcorp.varconnectsendpo/VO/.attributes
